/* Reset */
*, ::before, ::after, body {
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    }
    li {
    list-style-type : none;
    }


/* Design section header */
header {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 660px;
}



/* Logo Design */
.logo__place {
    padding-top: 45px;
    padding-left: 45px;
}
.logo__header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}




/* Title Design */
.title__header {
    margin: 100px auto;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    color:#FFD15B
}
/* Search Design */
.searchBar__header {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Search bar design */
.searchInput {
    width: 60vw;
    height: 70px;
    border-radius: 12px; 
    padding-left: 35px;
    outline: none;
    border: none;
}
.searchBar__header ::placeholder {
    font-family: 'manrope', sans-serif;
    color: #7A7A7A;
    font-size: 16px;
}
.magnifying__glass {
    margin-left: -60px;
}

main {
    background-color: #EDEDED;
}
.main__header {
    display: flex;
    padding: 20px 15px;
}
.recipes__components {
    display: flex;
    gap: 50px;
}
.recipe__component {
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 195px;
    display: flex;
    padding: 17px 16px;
}

/* ------ Responsive ------ */
@media screen and (max-width: 768px) {
    .title__header {
        font-size: 25px;
        flex-wrap: wrap;
        padding: 0 35px;
    }
    .logo__header {
        width: 200px;
    }
    .searchBar__header ::placeholder {
        font-size: 12px;
    }
    .searchInput {
        height: 50px;
        padding-left: 10px;
    }
    .magnifying__glass {
        width: 35px;
        margin-left: -45px;
    }
}
@media screen and (max-width: 465px) {
    .searchInput {
        width: 80vw;
    }
    .magnifying__glass {
        display: none;
    }
}