/* Reset */
*,
::before,
::after,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

/* Design section header */
header {
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 660px;
}

/* Logo Design */
.logo__place {
  padding-top: 45px;
  padding-left: 45px;
}
.logo__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Title Design */
.title__header {
  margin: 100px auto;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  color: #ffd15b;
}

/* Error Message */
.error__message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-bottom: 15px;
  font-family: 'Manrope', sans-serif;
}


/* Search Design */
.searchBar__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Search bar design */
.searchInput {
  width: 60vw;
  height: 70px;
  border-radius: 12px;
  padding-left: 35px;
  outline: none;
  border: none;
}
.searchBar__header ::placeholder {
  font-family: "manrope", sans-serif;
  color: #7a7a7a;
  font-size: 16px;
}
.magnifying__glass {
  margin-left: -60px;
}
/* The recipes cards section */
main {
  background-color: #ededed;
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}
.recipes__components,
.firstPart,
.secondPart {
  display: flex;
  gap: 50px;
}
.recipe__component {
  background-color: #ffffff;
  border-radius: 12px 12px 0px 0px;
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 16px;
}
.body__component {
  height: 300px;
}
.secondRow {
  position: absolute;
  width: 195px;
  height: 330px;
  background-color: #ffffff;
  z-index: 999999999999999;
  padding-top: 25px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.input__component {
  width: 160px;
  height: 35px;
  display: block;
  margin: 0px auto 12px auto;
  border: 1.5px solid #C6C6C6;
}

.manyfying__component {
  position: absolute;
  top: 36px;
  right: 30px;
}


.recipe__component p {
  font-family: "manrope", sans-serif;
}
.numberRecipesInside {
  font-family: "Anton";
  font-size: 21px;
  display: none;
}
.numberRecipesOutside {
  font-family: "Anton";
  font-size: 21px;
}

.arrow__down {
  width: 15px;
  height: 8px;
  transform: rotate(0deg);
}


.tourner {
  transform: rotate(180deg);
}

.display {
  display: block;
}

.list__element {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 0px 0px 14px;
  color: #1b1b1b;
  width: 195px;
  height: 37px;
}
.list__element:hover {
  background-color: #FFD15B;
  width: 195px;
  height: 37px;
}

.main__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 63px;
  gap: 45px;
}

.mains__card article {
  position: relative;
  z-index: -1;
}

.time__place {
  position: absolute;
  width: 95px;
  height: 30px;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  background-color: #ffd15b;
  z-index: 99;
  right: 1px;
  margin: 15px 15px 0px 0px;
}

.time__place p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.recipe__body {
  padding: 35px 35px;
}
.recipe__title {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.texte__recette {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 25px 0px 10px 0px;
  color: #7a7a7a;
}

.recipe__description {
  height: 75px;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #1b1b1b;
}
.recipe__preparation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

.recipe__card {
  position: relative;
  width: 400px;
  height: 731px;
  border-radius: 20px;
  background-color: #ffffff;
}
.recipe__card img {
  width: 400px;
  height: 250px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.recipe__preparation li {
  display: flex;
  flex-direction: column;
}
.ingredient__name {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1b1b1b;
}
.ingredient_quantity {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #7a7a7a;
}

/* ------ Responsive ------ */
@media screen and (max-width: 1040px) {
  .main__header {
    display: block;
  }
  .numberRecipesOutside {
    display: none;
  }
  .numberRecipesInside {
    display: flex;
    align-content: center;
    align-items: center;
    height: 50px;
  }

  .firstPart,
  .secondPart {
    flex-direction: column;
    align-items: center;
  }
  .recipes__components,
  .firstPart,
  .secondPart {
    flex-grow: 1;
  }
}

@media screen and (max-width: 768px) {
  .title__header {
    font-size: 25px;
    flex-wrap: wrap;
    padding: 0 35px;
  }
  .logo__header {
    width: 200px;
  }
  .searchBar__header ::placeholder {
    font-size: 12px;
  }
  .searchInput {
    height: 50px;
    padding-left: 10px;
  }
  .magnifying__glass {
    width: 35px;
    margin-left: -45px;
  }
}

@media screen and (max-width: 570px) {
  .recipes__components {
    flex-direction: column;
  }
  .main__cards {
    justify-content: center;
    padding: 0px;
  }
  .recipe__card {
    width: 320px;
  }
  .recipe__card img {
    width: 100%;
  }
}

@media screen and (max-width: 465px) {
  .searchInput {
    width: 80vw;
  }
  .magnifying__glass {
    display: none;
  }
}
